body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 40px 0;
  font-size: 84px;
  font-family: 'Rubik Pixels', cursive;
}

  
#container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

#outerContainer {
  border: 2px solid black;
  display: inline-block;
}

#uiContainer {
  margin: 20px 0;
}